.cart-item {
  display: flex;
  margin-bottom: 1rem;
}
.cart-item:first-child > * {
  font-weight: 600;
}
.cart-item > * {
  width: 25%;
  display: flex;
  align-items: center;
}
.cart-alert {
  text-align: center;
}
.cart-alert > p{
  font-weight: 600;
  margin-bottom: 30px;
}