nav {
  border-bottom: 1px solid #b7b7b7;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  font-weight: 300;
  font-size: 2.5rem;
  color: #333;
  padding: 2rem 1.5rem;
}
nav .nav-items {
  display: flex;
  align-items: center;
}
nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #b7b7b7;
}

nav .nav-link {
  font-family: 'Quicksand', sans-serif;;
  padding: 3rem 1.5rem;
  color: #333;
  font-size: 1.1rem;
  letter-spacing: -1px;
}
nav .nav-link:hover {
  background-color: #333;
  color: #fdf9f9;
}

@media(max-width: 991px) {
  nav {
    flex-direction: column;
  }
  nav .nav-items {
    flex-direction: column;
  }
  nav .nav-item {
    border-left: none;
    border-top: 1px solid #b7b7b7;
    width: 100%;
    justify-content: flex-start;
  }
  nav .nav-link {
    width: 100%;
    padding: 2rem 1.5rem;
  }
}