nav {
  border-bottom: var(--main-border);
  display: flex;
  flex-wrap: wrap;
}
nav .logo {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 2rem;
  margin-right: auto;
}
nav .nav-items {
  display: flex;
  align-items: center;
}
nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--main-border);
  width: 120px;
}

nav .nav-link {
  font-family: 'Quicksand', sans-serif;;
  padding: 3rem 1.5rem;
  color: #333;
  font-size: 1.1rem;
  letter-spacing: -1px;
  width: 100%;
  text-align: center;
}
nav .nav-link:hover, nav .nav-link.selected {
  background-color: #333;
  color: #fdf9f9;
}

@media(max-width: 991px) {

  nav .nav-items {
    flex-direction: column;
    order: 1;
    width: 100%;
  }
  nav .nav-item {
    border-left: none;
    border-top: var(--main-border);
    width: 100%;
    justify-content: flex-start;
  }
  nav .nav-link {
    width: 100%;
    padding: 2rem 1.5rem;
  }
}
@media(max-width: 380px) {
  nav {
    flex-direction: column;
  }
}