html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color:  #fdf9f9;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #b7b7b7;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -1px;
}
a {
  text-decoration: none;
  transition: all .3s cubic-bezier(0.4, 0, 1, 1);
  display: inline-block;
}
.container {
  max-width: 75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}