:root {
  --main-border: 1px solid #b7b7b7;
  --main-transition: all .3s cubic-bezier(0.4, 0, 1, 1);
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color:  #fdf9f9;
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -1px;
}
a, button, button svg{
  text-decoration: none;
  transition: var(--main-transition);
  display: inline-block;
}
a {
  color: #333;
}
button, .item-detail .finish-button {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
button:hover, .item-detail .finish-button:hover {
  background: #333;
  color: #fdf9f9;
}
.container {
  padding: 2rem;
}
#root {
  border: var(--main-border);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
}